@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
    font-family: "Poppins", sans-serif; 
}


:root{
    --cards: 4;
    --cardHeight: 87vh;
    --cardTopPadding: 1.5rem;
    --cardMargin: 4vw;
}

.container{
  width: 90%;
  margin: 0px auto;
}

#cards{
    padding-left: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}
#card1{
    --index:1;
}
#card2{
    --index:2;
}
#card3{
    --index:3;
}
#card4{
    --index:4;
}

.card{
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--cardTopPadding));
}
#card1 .card-body {
    background-color: #5282CF;
}
#card2 .card-body {
    background-color: #7EC4CF;
}
#card3 .card-body {
    background-color: #9CADCE;
}
#card4 .card-body {
    background-color: #D4AFB9;
}
.card-body{
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    height: var(--cardHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2.5rem;
}